// order page start
.order_wrap {
  .order_h3 {
    color: #0e294a;
    font-family: "Lapsus Pro";
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 40px;

    h2 {
      @media all and (max-width: 1400px) {
        order: 1;
      }
    }
  }

  @media all and (max-width: 1400px) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.input_wrap {
  margin-bottom: 40px;

  input {
    width: 100%;
  }
}

.custom_radio {
  display: flex;
  cursor: pointer;
  align-items: center;
  color: #0e294a;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;

  input {
    display: none;
  }

  span {
    margin-right: 10px;
    flex: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #0e294a;
    background-color: transparent;
    transition: background-color 180ms;
  }

  &:hover,
  input:checked + span {
    span {
      background-color: #f26522;
      transition: background-color 180ms;
    }
  }

  input:checked + span {
    background-color: #f26522;
    transition: background-color 180ms;
  }
}

.radio_group {
  grid-gap: 50px;
  margin-bottom: 50px;
}

.double_input {
  grid-gap: 20px;

  & > * {
    max-width: calc(50% - 10px);
  }

  .default_btn {
    width: 100%;
    margin-top: 30px;
  }
}

.scrollable_part {
  padding-left: 80px;
  max-width: 700px;

  @media all and (max-width: 1400px) {
    max-width: 100%;
    padding-right: 80px;
    order: 3;
    margin-top: 80px;
  }

  @media all and (max-width: 1100px) {
    padding-left: 0;
    padding-right: 0;
  }

  & > * {
    width: 100%;
  }

  .input_wrap {
    flex: 1 1 auto;
  }
}

.my_bonus {
  color: #f26522;
  font-family: "Lapsus Pro";
  font-size: 40px;
  font-weight: 700;
  padding-left: 20px;
}

.text {
  color: #0e294a;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;

  b {
    font-weight: 700;
  }

  & + .text {
    margin-top: 8px;
  }
}

.static_part {
  width: 770px;
  max-height: calc(100vh - 70px);
  position: absolute;
  right: 0;
  top: 129px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &.fixed {
    position: fixed;
    top: 0;
    right: 20px;

    @media all and (max-width: 1400px) {
      position: relative;
      position: relative;
      width: auto;
      right: auto;
      top: auto;
      margin: 0;
      order: 2;
    }
  }

  @media all and (max-width: 1400px) {
    position: relative;
    width: auto;
    right: auto;
    top: auto;
    margin: 0;
    max-height: unset;
    margin-top: 0;
  }
}

.static_bottom {
  flex: none;
  margin-top: 40px;
  padding-left: 70px;
  padding-right: 30px;

  @media all and (max-width: 1400px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.total_price {
  justify-content: flex-end;
  margin-bottom: 50px;

  p {
    color: #f26522;
    font-family: "Lapsus Pro";
    font-size: 37px;
    font-weight: 700;

    &::before {
      content: "Сума:";
      margin-right: 40px;
      color: #0e294a;
      font-family: "Lapsus Pro";
      font-size: 22px;
      font-weight: 700;
    }

    &:after {
      content: " ₴";
      padding-left: 5px;
    }
  }
}

.static_bottom_bottom {
  justify-content: space-between;

  .default_btn {
    width: 396px;
  }
}

.orders_wrap {
  overflow: auto;
  box-shadow: 3px 0 15px rgba(14, 41, 74, 0.2);
  border-radius: 4px;
  background-color: #fff;
  padding: 0 30px;

  @media all and (max-width: 1400px) {
    box-shadow: none;
    padding: 0;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
  }

  .product_name {
    color: #0e294a;
    font-size: 24px;
  }

  .one_cart_item {
    padding: 30px 0;
  }

  .one_cart_item + .one_cart_item {
    padding-top: 30px;
  }

  @media all and (max-width: 1400px) {
    .price_remove_wrap .price {
      margin-right: 5px;
    }
  }
}
// order page end
