@import "basic.scss";
@import "grid";

@import "owl.carousel.scss";
@import "owl.theme.default.scss";

.df {
  display: flex;
  align-items: center;

  &.s_betwen {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }
}

body {
  display: flex;
  flex-direction: column;

  &.no_scroll {
    overflow: hidden;
  }
}

.container {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.img_wrap {
  flex: none;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

main {
  flex: 1 1 auto;
  padding: 20px;

  @media all and (max-width: 767px) {
    padding: 12px;
  }
}

footer {
  flex: none;
  height: 50px;
  background-color: #b1c4d3;
  justify-content: space-between;
  padding: 0 20px;

  @media all and (max-width: 767px) {
    flex-direction: column;
    height: auto;
    padding: 20px 20px 120px 20px;

    & > * {
      width: 100%;
      display: block;
    }
  }

  .copyright {
    color: #07111d;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;

    @media all and (max-width: 767px) {
      order: 2;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .links {
    @media all and (max-width: 767px) {
      order: 1;
      flex-direction: column;
    }
  }

  .terms_link {
    color: #0e294a;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;

    @media all and (max-width: 767px) {
      width: 100%;
      display: block;
    }

    &:hover {
      text-decoration: underline;
    }

    & + .terms_link {
      margin-left: 60px;

      @media all and (max-width: 767px) {
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }

  .voronin {
    color: #07111d;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;

    @media all and (max-width: 767px) {
      order: 3;
    }

    &:hover {
      text-decoration: underline;
    }

    img {
      margin-right: 15px;
      height: 19px;
    }
  }
}

.content_wrap {
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

.input_wrap {
  p {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
  }

  input {
    width: 454px;
    height: 51px;
    line-height: 51px;
    padding-left: 20px;
    color: #0e294a;
    font-family: "Lapsus Pro";
    font-size: 20px;
    font-weight: 700;
    border-radius: 26px;
    background-color: #fff;
    border: 1px solid #f26522;
  }
}

section {
  &:last-of-type {
    margin-bottom: 160px;

    @media all and (max-width: 767px) {
      margin-bottom: 100px;
    }
  }

  & + section {
    margin-top: 80px;
  }
}

.floating_btn {
  z-index: 10;
  position: fixed;
  right: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(36, 36, 36, 0.16);
  transition: background-color 180ms ease-in-out, border 180ms ease-in-out;
  background-color: #fff;
  border: 1px solid #0e294a;

  @media all and (max-width: 1400px) {
    right: 30px;
  }

  @media all and (max-width: 767px) {
    right: 12px;
  }

  &:after,
  &:before {
    content: "";
    display: block;
    transition: opacity 180ms ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:after {
    opacity: 1;
  }

  &:before {
    opacity: 0;
  }

  &:hover {
    background-color: #0e294a;
    transition: background-color 180ms ease-in-out, border 180ms ease-in-out;

    &:after {
      opacity: 0;
      transition: opacity 180ms ease-in-out;
    }

    &:before {
      opacity: 1;
      transition: opacity 180ms ease-in-out;
    }
  }

  &.blue {
    border: 1px solid #fff;
    background-color: #0e294a;

    &:hover {
      border: 1px solid #0e294a;
      background-color: #fff;
    }
  }

  span {
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -2px;
    width: 22px;
    height: 22px;
    background-color: #f26522;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.call_menu_btn {
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media all and (max-width: 1400px) {
    top: 30px;
  }

  &:after {
    width: 26px;
    height: 17px;
    background: url("../img/burdge_icon.svg") no-repeat center / contain;
  }

  &::before {
    width: 26px;
    height: 17px;
    background: url("../img/burdge_icon_hover.svg") no-repeat center / contain;
  }

  svg {
    display: none;
  }

  &.active {
    &:before,
    &:after {
      display: none !important;
    }

    svg {
      width: 17px;
      display: block;
      fill: #fff;
      transition: fill 180ms ease-in-out;
    }

    &:hover {
      svg {
        fill: #0e294a;
        transition: fill 180ms ease-in-out;
      }
    }
  }
}

.call_cabinet {
  top: 140px;

  @media all and (max-width: 1400px) {
    top: 100px;
  }

  &:after {
    width: 26px;
    height: 26px;
    background: url("../img/person_icon.svg") no-repeat center / contain;
  }

  &:before {
    width: 26px;
    height: 26px;
    background: url("../img/person_icon_hover.svg") no-repeat center / contain;
  }
}

.call_cart {
  bottom: 50px;

  @media all and (max-width: 1400px) {
    bottom: 120px;
  }

  &:after {
    width: 26px;
    height: 26px;
    background: url("../img/cart_icon.svg") no-repeat center / contain;
  }

  &:before {
    width: 26px;
    height: 26px;
    background: url("../img/cart_icon_hover.svg") no-repeat center / contain;
  }
}

// manu start
nav {
  @media all and (min-width: 1000px) {
    max-width: inherit;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-shadow: 3px 0 15px rgba(14, 41, 74, 0.2);
    background: url("../img/menu_bg.jpg") no-repeat center / cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #999;
      border-radius: 5px;
    }
  }
}

.main_link {
  flex: none;
  display: block;
  width: 105px;
  margin: 0 auto;
  transition: opacity 180ms ease-in-out;
  opacity: 1;

  &:hover {
    transition: opacity 180ms ease-in-out;
    opacity: 0.7;
  }

  img {
    display: block;
    margin: auto;
  }
}

menu {
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu_link {
  height: 65px;
  padding: 0 20px;
  color: #fff;
  font-family: "Lapsus Pro";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 180ms ease-in-out;

  @media all and (max-width: 1300px) {
    padding: 0 10px;
  }

  @media all and (max-width: 1300px) {
    font-size: 14px;
  }

  &:hover,
  &.active {
    background-color: transparent;
    background-color: #f26522;

    .counter {
      transition: background-color 180ms ease-in-out;
      background-color: #0e294a;
    }
  }

  .cat {
    width: 33px;
    margin-right: 24px;
    flex: none;

    @media all and (max-width: 1300px) {
      margin-right: 12px;
      width: 30px;
    }
  }

  .arrow {
    width: 7px;
    flex: none;
    color: #fff;
    font-family: "Lapsus Pro";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  span {
    flex: 1 1 auto;
  }

  & + .menu_link {
    margin-top: 15px;
  }

  .counter {
    margin-left: 20px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 155px;
    width: 22px;
    height: 22px;
    background-color: #f26522;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 180ms ease-in-out;
  }
}

.bottom_links {
  text-align: center;

  .tel {
    color: #fff;
    font-family: "Lapsus Pro";
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 14px;
    display: inline-block;
    opacity: 1;
    transition: opacity 180ms ease-in-out;

    &:hover {
      opacity: 0.6;
      transition: opacity 180ms ease-in-out;
    }

    &::after {
      content: "";
      display: block;
      width: 23px;
      height: 14px;
      position: absolute;
      top: -7px;
      left: 27px;
      z-index: 1;
      background: url("../img/phone_with_cap.svg") no-repeat center / contain;
    }
  }

  .social {
    margin: 0 auto;
    color: #fff;
    font-family: "Lapsus Pro";
    font-size: 18px;
    font-weight: 700;
    width: 120px;
    height: 23px;

    div {
      margin-right: 5px;
      width: 40px;
      height: 23px;
      background: url("../img/socials_bg.svg") no-repeat center / contain;

      a {
        position: absolute;
        height: 15px;
        width: 15px;
        opacity: 1;
        transition: opacity 180ms ease-in-out;

        &:hover {
          opacity: 0.6;
          transition: opacity 180ms ease-in-out;
        }
      }

      .is {
        top: 12%;
        left: 3px;
      }

      .fb {
        top: 2px;
        left: 22px;
      }
    }
  }
}
// manu end

//mob_nav start
.mob_nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 100px;
  box-shadow: 3px 0 15px rgba(14, 41, 74, 0.2);
  background-image: linear-gradient(180deg, #0e294a 0%, #000 100%);
  display: none;
  align-items: flex-start;
  overflow-x: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media all and (max-width: 1000px) {
    display: flex;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  .item {
    flex: none;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 64px;

    & + .item {
      margin-left: 14px;
    }

    img {
      display: block;
      height: 32px;
      margin-bottom: 6px;
      margin-left: auto;
      margin-right: auto;
    }

    span {
      display: block;
      text-align: center;
      color: #fff;
      font-family: "Lapsus Pro";
      font-size: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
// mob_nav end

// main page
.breadcrumbs {
  display: flex;
  margin-bottom: 20px;
  grid-gap: 15px;

  @media all and (max-width: 767px) {
    grid-gap: 10px;
    flex-wrap: wrap;
    max-width: 100vw;
  }

  .main {
    img {
      height: 35px;
    }
  }

  & > *:not(:first-child) {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 6px;
      margin-right: 15px;
      height: 11px;
      background: url("../img/arrow_right_orange.svg") no-repeat center /
        contain;

      @media all and (max-width: 767px) {
        margin-right: 10px;
      }
    }

    &:last-child {
      pointer-events: none;
      color: #f26522;
    }
  }

  a:not(.main) {
    color: #0e294a;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
    line-height: 24px;
    white-space: nowrap;

    @media all and (max-width: 767px) {
      font-size: 12px;
      letter-spacing: 0.6px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.grid_section {
  display: grid;
  grid-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));

  @media all and (max-width: 1400px) {
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  }

  @media all and (max-width: 1300px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
  }

  @media all and (max-width: 767px) {
    display: block;
  }

  .one,
  .one a {
    height: 250px;
    display: block;
    overflow: hidden;

    @media all and (max-width: 1400px) {
      height: 200px;
    }

    @media all and (max-width: 1300px) {
      min-height: 250px;
    }

    &.titling {
      padding: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0e294a;
      color: #fff;
      font-family: "Lapsus Pro";
      font-size: 44px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 2.2px;
      line-height: 40px;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;

      &::before {
        width: 80px;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 100% 50%);
        background-color: #f26522;
      }
    }

    .img_wrap {
      position: absolute;
      z-index: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .title_wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #f26522;
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      padding: 10px;
      display: flex;
      min-height: 82px;
      padding-bottom: 10px;
      align-items: end;
      transition: min-height 180ms ease-in-out,
        background-color 180ms ease-in-out, padding-bottom 180ms ease-in-out;

      .left {
        padding-right: 15px;
        flex: 1 1 auto;
      }

      .type {
        font-weight: 500;
        margin-bottom: 7px;
      }

      .name {
        font-weight: 700;
      }

      .price {
        flex: none;
        color: #fff;
        font-family: "Lapsus Pro";
        font-size: 25px;
        font-weight: 700;
        min-height: 62px;
        transition: min-height 180ms ease-in-out;

        &:after {
          content: " ₴";
        }
      }

      .desc {
        overflow: hidden;
        height: 0;
        line-height: 40px;
        transition: height 180ms ease-in-out;
      }
    }

    .add_to_cart {
      position: absolute;
      bottom: 10px;
      left: 5px;
      right: 5px;
      text-align: center;
      overflow: hidden;
      background-color: #0e294a;
      height: 40px;
      width: calc(100% - 10px);
      font-family: "Lapsus Pro";
      color: #fff;
      font-size: 20px;
      border-radius: 5px;
      pointer-events: none;
      opacity: 0;
      transition: opacity 180ms ease-in-out;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: #f26522;
        transition: width 360ms ease-in-out;
      }

      &:hover {
        &:after {
          width: 100%;
          transition: width 360ms ease-in-out;
        }
      }

      span {
        z-index: 2;
      }
    }

    &.active,
    &:hover {
      .title_wrap {
        min-height: 100%;
        background-color: rgba(14, 41, 74, 0.3);
        padding-bottom: 60px;
        transition: min-height 180ms ease-in-out,
          background-color 180ms ease-in-out, padding-bottom 180ms;

        .desc {
          height: 30px;
          transition: height 180ms ease-in-out;
        }

        .price {
          min-height: 91px;
          transition: min-height 180ms ease-in-out;
        }
      }

      .add_to_cart {
        pointer-events: all;
        opacity: 1;
        transition: opacity 180ms ease-in-out;
      }
    }

    @media all and (min-width: 1300px) {
      // 2 items
      &:nth-child(2):nth-last-child(2) {
        grid-column-start: 2;
        grid-column-end: 4;
      }

      &:nth-child(3):nth-last-child(1) {
        grid-column-start: 4;
        grid-column-end: 6;
      }

      // 3 items
      &:nth-child(2):nth-last-child(3) {
        grid-column-start: 2;
        grid-column-end: 4;
      }

      // 5 items
      &:nth-child(3):nth-last-child(4) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      &:nth-child(5):nth-last-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      // 6 items
      &:nth-child(3):nth-last-child(5) {
        grid-column-start: 3;
        grid-column-end: 5;
      }

      &:nth-child(6):nth-last-child(2) {
        grid-column-start: 2;
        grid-column-end: 4;
      }

      &:nth-child(7):nth-last-child(1) {
        grid-column-start: 4;
        grid-column-end: 6;
      }

      // 7 items
      &:nth-child(3):nth-last-child(6) {
        grid-column-start: 3;
        grid-column-end: 5;
      }

      &:nth-child(8):nth-last-child(1) {
        grid-column-start: 4;
        grid-column-end: 6;
      }

      // 8 items
      &:nth-child(3):nth-last-child(7) {
        grid-column-start: 3;
        grid-column-end: 5;
      }
    }
  }
}

.mobile_products {
  .title_block {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    height: 40px;
    background-color: #0e294a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Lapsus Pro";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;

    &::before {
      width: 20px;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 100% 50%);
      background-color: #f26522;
    }
  }

  .product_link {
    display: block;
  }

  .img_wrap {
    height: calc(51.7vw - 34px);
    margin-bottom: 10px;
  }

  p {
    cursor: pointer;
  }

  .category {
    margin-bottom: 6px;
    color: #0e294a;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
  }

  .title {
    color: #0e294a;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .price {
    color: #f26522;
    font-family: "Lapsus Pro";
    font-size: 25px;
    font-weight: 700;

    &::after {
      content: " ₴";
    }
  }

  .add_top_cart {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Lapsus Pro";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.98px;
    text-transform: uppercase;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    background-color: #f26522;
  }
}

.title_h2 {
  text-align: center;
  color: #0e294a;
  font-family: "Lapsus Pro";
  font-size: 51px;
  font-weight: 700;
  letter-spacing: 2.55px;
  line-height: 48px;
  margin-bottom: 80px;

  @media all and (max-width: 767px) {
    font-size: 26px;
    letter-spacing: 1.3px;
    line-height: 24px;
    margin-bottom: 60px;
  }
}

.title_h3 {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 30px;

  @media all and (max-width: 767px) {
    font-size: 16px;
  }
}

.grid_3_2 {
  display: grid;
  grid-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(450px, 1fr));

  @media all and (max-width: 1400px) {
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
  }

  @media all and (max-width: 1300px) {
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  }

  @media all and (max-width: 1200px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  @media all and (max-width: 767px) {
    display: block;
  }

  .one {
    height: 450px;
    overflow: hidden;

    @media all and (max-width: 1400px) {
      height: 350px;
    }

    @media all and (max-width: 1300px) {
      height: 300px;
    }

    @media all and (max-width: 767px) {
      overflow: auto;
      height: 340px;
    }

    .img_wrap {
      position: absolute;
      z-index: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .title_wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 92px;
      background-color: #f26522;
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      padding: 0 20px;
      color: #fff;
      font-family: "Lapsus Pro";
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transition: height 180ms ease-in-out, background-color 180ms ease-in-out,
        padding-bottom 180ms ease-in-out;

      img {
        height: 40px;
        margin-right: 20px;
        flex: none;
      }

      div {
        font-size: 30px;

        span {
          display: block;
          font-size: 16px;
        }
      }
    }

    .titling {
      height: 92px;
    }

    @media all and (min-width: 767px) {
      &:hover {
        .title_wrap {
          height: 100%;
          padding-bottom: 40px;
          background-color: rgba(14, 41, 74, 0.3);
          transition: height 180ms ease-in-out,
            background-color 180ms ease-in-out, padding-bottom 180ms ease-in-out;
        }

        .desc {
          overflow: hidden;
          max-height: 500px;
          transition: max-height 180ms ease-in-out;
        }
      }
    }
  }

  .desc {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 180ms ease-in-out;

    @media all and (max-width: 767px) {
      overflow: auto;
      max-height: none;
      color: #0e294a;

      margin-top: 15px;
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.short {
  padding-left: 160px;
  padding-right: 160px;

  @media all and (max-width: 1025px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.faq_line {
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 32px;

  .title {
    color: #0e294a;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    flex: 1 1 auto;
    cursor: pointer;

    @media all and (max-width: 767px) {
      font-size: 16px;
    }
  }

  .arrow {
    width: 17px;
    margin-left: 30px;
    margin-right: 30px;
    flex: none;
    transform: rotate(180deg);
    transition: transform 180ms ease-in-out;

    @media all and (max-width: 767px) {
      margin-right: 0;
      margin-left: 15px;
    }
  }

  .cont {
    max-width: 1086px;
    height: 120px;
    color: #0e294a;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    overflow: hidden;
    height: 0;

    @media all and (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &.active {
    .arrow {
      transform: rotate(0);
      transition: transform 180ms ease-in-out;
    }

    .cont {
      height: auto;
      margin-top: 32px;
    }
  }

  & + .faq_line {
    padding-top: 32px;
    border-top: 2px solid #f26522;
  }

  &:last-child {
    padding-bottom: 32px;
    border-bottom: 2px solid #f26522;
  }
}

.text_shortner {
  .text_block {
    line-height: 25px;

    @media all and (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }

    &.shortner {
      height: 145px;
      overflow: hidden;

      @media all and (max-width: 767px) {
        height: 143px;
      }
    }
  }

  .show_more {
    display: block;
    margin: 40px auto 0;
    color: #0e294a;
    font-family: "Lapsus Pro";
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-decoration: underline;
    width: 180px;
    text-align: center;
    transition: color 180ms ease-in-out;

    @media all and (max-width: 767px) {
      font-size: 16px;
      letter-spacing: 0.8px;
    }

    &::before {
      content: "Читати більше";
    }

    &:hover {
      color: #f26522;
      transition: color 180ms ease-in-out;
    }
  }

  &.active {
    .shortner {
      height: auto;
    }

    .show_more {
      &::before {
        content: "Приховати";
      }
    }
  }
}

.owl-nav {
  font-family: "Lapsus Pro";
  font-size: 32px;
  font-weight: 700;
  margin-top: 30px;
  margin-right: 40px;
  float: right;
  z-index: 2;

  @media all and (max-width: 767px) {
    margin-right: 10px;
    margin-top: 15px;
  }

  button {
    color: #0e294a !important;
    transition: color 180ms ease-in-out;

    &:hover {
      color: #f26522 !important;
      transition: color 180ms ease-in-out;
    }
  }

  .owl-prev {
    margin-right: 25px;
  }
}

.owl-dots {
  margin-left: 30px;
  margin-top: 35px;

  @media all and (max-width: 767px) {
    margin-left: 0;
    margin-top: 17px;
  }

  .owl-dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #0e294a !important;
    transition: background-color 180ms ease-in-out;

    & + .owl-dot {
      margin-left: 15px;
    }

    &.active {
      background-color: #f26522 !important;
      transition: background-color 180ms ease-in-out;
    }
  }
}

.map_wrap {
  align-items: stretch;

  @media all and (max-width: 1050px) {
    flex-wrap: wrap;
  }

  @media all and (max-width: 767px) {
    margin-left: -12px;
    width: calc(100% + 24px);
  }

  .map {
    flex: 1 1 auto;
    background-color: aqua;

    @media all and (max-width: 1050px) {
      flex: 1 1 100%;
      height: 450px;
    }

    @media all and (max-width: 767px) {
      height: 350px;
    }
  }

  .map_info {
    flex: none;
    width: 630px;
    padding: 55px 100px 55px 70px;
    background-color: #0e294a;

    @media all and (max-width: 1400px) {
      padding: 30px;
      width: 500px;
    }

    @media all and (max-width: 1050px) {
      width: 100%;
    }

    @media all and (max-width: 767px) {
      padding: 50px 30px;
    }

    .title_h2 {
      text-align: left;
      color: #fff;
      margin-bottom: 50px;

      @media all and (max-width: 767px) {
        text-align: center;
      }
    }

    .input_wrap {
      margin-bottom: 50px;

      p {
        color: #fff;
      }

      @media all and (max-width: 1050px) {
        input {
          width: 100%;
        }
      }
    }

    .delivery_info {
      padding-left: 40px;
      padding-right: 40px;

      @media all and (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
      }

      .line {
        align-items: flex-start;

        & + .line {
          margin-top: 45px;
        }
      }

      .dot {
        flex: none;
        width: 22px;
        height: 22px;
        margin-right: 10px;
        border-radius: 50%;

        &.green {
          background-color: #2dc937;
        }

        &.yellow {
          background-color: #e7b416;
        }

        &.red {
          background-color: #cc3232;
        }
      }

      p {
        margin-bottom: 5px;
        color: #fff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
      }

      .price {
        margin-bottom: 10px;
        color: #f26522;
        font-family: "Lapsus Pro";
        font-size: 20px;
        font-weight: 700;

        @media all and (max-width: 1050px) {
          margin-left: 5px;
        }

        @media all and (max-width: 767px) {
          margin-left: 0;
        }
      }

      .delivery_line {
        @media all and (max-width: 1050px) {
          display: flex;
        }

        @media all and (max-width: 767px) {
          display: block;
        }
      }
    }
  }
}

.show_more_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;

  .show_more_btn {
    color: #0e294a;
    font-family: "Lapsus Pro";
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-decoration: underline;
    transition: color 180ms ease-in-out;

    &:hover {
      color: #f26522;
      transition: color 180ms ease-in-out;
    }

    @media all and (max-width: 767px) {
      font-size: 16px;
      letter-spacing: 0.8px;
    }
  }
}

// main page

// cart start
.cart_wrap {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60%;
  box-shadow: -3px 0 15px rgba(14, 41, 74, 0.2);
  background-color: #0e294a;
  padding-top: 50px;
  max-height: 100vh;
  transform: translateX(100%);
  transition: transform 180ms ease-in-out;

  @media all and (max-width: 1400px) {
    padding-top: 20px;
  }

  @media all and (max-width: 1200px) {
    width: 100%;
  }

  @media all and (max-width: 767px) {
    top: 12px;
    bottom: 12px;
    right: 12px;
    left: 12px;
    width: calc(100% - 24px);
    transform: translateX(110%);
  }

  &.active {
    transform: translateX(0);
    transition: transform 180ms ease-in-out;
  }

  .close_btn {
    z-index: 2;
    position: fixed;
    top: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 15px rgba(36, 36, 36, 0.16);
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 180ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    @media all and (max-width: 1400px) {
      top: 30px;
      right: 30px;
    }

    @media all and (max-width: 767px) {
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      background-color: transparent;
    }

    svg {
      height: 14px;
      width: 14px;
    }

    path {
      fill: #0e294a;
      transition: fill 180ms ease-in-out;

      @media all and (max-width: 767px) {
        fill: #fff;
      }
    }

    @media all and (min-width: 767px) {
      &:hover {
        background-color: #0e294a;
        transition: background-color 180ms ease-in-out;

        path {
          fill: #fff;
          transition: fill 180ms ease-in-out;
        }
      }
    }
  }

  .titling {
    margin-bottom: 50px;
    padding-left: 50px;
    color: #fff;
    font-family: "Lapsus Pro";
    font-size: 51px;
    font-weight: 700;
    letter-spacing: 2.55px;
    line-height: 48px;

    @media all and (max-width: 1400px) {
      padding-left: 30px;
      margin-bottom: 20px;
    }

    @media all and (max-width: 767px) {
      font-size: 26px;
      letter-spacing: 1.3px;
      line-height: 24px;
    }
  }

  .one_cart_item {
    display: flex;
    padding: 30px;
    align-items: stretch;

    @media all and (max-width: 1400px) {
      padding: 20px;
    }

    @media all and (max-width: 767px) {
      padding: 30px 0;
    }

    .img_wrap {
      width: 250px;
      height: 160px;
      flex: none;

      @media all and (max-width: 767px) {
        width: 110px;
        height: 90px;
      }
    }

    .product_inner {
      flex: 1 1 auto;
      padding: 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media all and (max-width: 767px) {
        padding: 0 15px;
      }
    }

    .product_name {
      color: #fff;
      font-family: "Lapsus Pro";
      font-size: 38px;
      font-weight: 700;

      @media all and (max-width: 767px) {
        font-size: 20px;
      }
    }

    .price_remove_wrap {
      flex: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      .remove {
        margin-top: 4px;
        border-radius: 50%;
        width: 33px;
        height: 33px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.4;
        transition: opacity 180ms ease-in-out, border 180ms ease-in-out;
        border: 1px solid #fff;

        @media all and (max-width: 767px) {
          width: 20px;
          height: 20px;
        }

        svg {
          width: 17px;
          height: 19px;

          @media all and (max-width: 767px) {
            width: 12px;
            height: 13px;
          }

          path {
            fill: none;
            stroke: #0e294a;
            stroke-width: 1.5;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 20;
            transition: stroke 180ms ease-in-out;
          }
        }

        &:hover {
          @media all and (min-width: 767px) {
            opacity: 1;
            border: 1px solid #f26522;
            transition: opacity 180ms ease-in-out, border 180ms ease-in-out;

            svg {
              path {
                stroke: #f26522;
                transition: stroke 180ms ease-in-out;
              }
            }
          }
        }
      }

      .price {
        color: #f26522;
        font-family: "Lapsus Pro";
        font-size: 37px;
        font-weight: 700;

        @media all and (max-width: 767px) {
          font-size: 32px;
        }

        &::after {
          content: " ₴";
        }
      }
    }

    .quantity_wrap {
      display: flex;
      align-items: center;
      grid-gap: 35px;
      font-weight: 700;
      font-family: "Lapsus Pro";

      @media all and (max-width: 767px) {
        grid-gap: 20px;
      }

      .quantity {
        color: #f26522;
        font-size: 31px;

        @media all and (max-width: 767px) {
          font-size: 20px;
        }
      }

      button {
        width: 50px;
        height: 50px;
        box-shadow: 0 3px 10px rgba(14, 41, 74, 0.2);
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f26522;
        font-size: 46px;
        opacity: 1;
        transition: opacity 180ms ease-in-out;

        @media all and (max-width: 767px) {
          font-size: 20px;
          width: 20px;
          height: 20px;
        }

        &.disabled {
          opacity: 0.3;
          transition: opacity 180ms ease-in-out;
          pointer-events: none;
        }

        &:hover {
          @media all and (min-width: 767px) {
            opacity: 0.7;
            transition: opacity 180ms ease-in-out;
          }
        }

        span {
          display: block;
          height: 50px;
          cursor: pointer;

          @media all and (max-width: 767px) {
            height: 23px;
          }
        }

        &.minus {
          span {
            height: 60px;

            @media all and (max-width: 767px) {
              height: 27px;
            }
          }
        }
      }
    }

    & + .one_cart_item {
      border-top: 1px solid #f26522;
      padding-top: 50px;
    }
  }

  .scroll_wrap {
    max-height: calc(100% - 301px);
    overflow: auto;
    padding: 0 50px;

    @media all and (max-width: 1400px) {
      padding: 0 30px;
      max-height: calc(100% - 232px);
    }

    @media all and (max-width: 767px) {
      padding: 0;
      margin-left: 10px;
      padding-right: 10px;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #999;
      border-radius: 5px;
    }
  }

  .bottom {
    flex: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #f26522;
    background-color: #0e294a;
    padding: 30px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media all and (max-width: 1400px) {
      padding: 30px;
    }

    @media all and (max-width: 767px) {
      padding: 30px 0;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .confirm_cart {
    color: #fff;
    font-family: "Lapsus Pro";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.29px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    border-radius: 4px;
    background-color: #f26522;
    border: solid f26522 1px;
    transition: color 180ms ease-in-out;

    @media all and (max-width: 767px) {
      width: 100%;
      font-size: 14px;
      letter-spacing: 0.98px;
    }

    &::before {
      border-radius: 4px;
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 1px;
      bottom: 1px;
      left: 1px;
      width: 0;
      background-color: #fff;
      transition: width 180ms ease-in-out;
    }

    span {
      z-index: 2;
    }

    &:hover {
      color: #f26522;
      transition: color 180ms ease-in-out;

      &::before {
        width: calc(100% - 2px);
        transition: width 180ms ease-in-out;
      }
    }
  }

  .total_price {
    width: 260px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Lapsus Pro";
    font-weight: 700;
    font-style: normal;
    color: #fff;
    font-size: 22px;

    @media all and (max-width: 767px) {
      width: 100%;
    }

    span {
      font-size: 37px;
      color: #f26522;

      &::after {
        content: " ₴";
      }
    }
  }
}
// cart end

// second_nav
.second_nav {
  z-index: 9;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 318px;
  box-shadow: 3px 0 15px rgba(14, 41, 74, 0.2);
  background: url("../img/menu_bg.jpg") no-repeat center / cover;
  transform: translate(100%);
  transition: transform 180ms ease-in-out;
  padding-top: 200px;
  overflow: auto;
  padding-bottom: 100px;

  @media all and (max-width: 1000px) {
    width: 100%;
    padding-top: 30px;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
  }

  &.active {
    transform: translate(0);
    transition: transform 180ms ease-in-out;
  }

  .menu_link {
    display: block;
    height: 65px;
    align-items: center;
    line-height: 65px;

    @media all and (max-width: 767px) {
      padding: 0 30px;
    }
  }

  .main_link {
    width: 80px;
    margin-left: 30px;
    margin-bottom: 50px;
  }
}
// second_nav end

// pagination start
.pagination_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lapsus Pro";
  font-size: 40px;
  font-weight: 700;
  grid-gap: 30px;

  .nav {
    font-size: 32px;
  }

  a {
    color: #0e294a;
    transition: color 180ms ease-in-out;

    &:hover,
    &.active {
      color: #f26522;
      transition: color 180ms ease-in-out;
    }
  }
}
// pagination end

// category start
.category_top_banner {
  padding: 50px;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  background-position: right center;
  background-size: 60% 100%;
  background-repeat: no-repeat;
  min-height: 290px;

  @media all and (max-width: 1000px) {
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 30px 15px;
  }

  @media all and (max-width: 767px) {
    padding: 25px 10px;
  }

  &::before {
    width: 60%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    background-color: #f26522;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);

    @media all and (max-width: 1100px) {
      width: 75%;
    }

    @media all and (max-width: 1000px) {
      top: auto;
      right: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(0 50%, 100% 70%, 100% 100%, 0% 100%);
    }

    @media all and (max-width: 767px) {
      height: 75%;
    }
  }

  .titling {
    font-family: "Lapsus Pro";
    margin-bottom: 30px;
    font-size: 40px;
    text-transform: uppercase;

    @media all and (max-width: 1000px) {
      margin-bottom: 0;
      font-size: 26px;
    }
  }

  .info {
    max-width: 41%;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.7px;
    line-height: 24px;

    @media all and (max-width: 1000px) {
      display: none;
    }
  }
}

.category_grid {
  display: grid;
  grid-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(290px, 1fr));

  @media all and (max-width: 1100px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media all and (max-width: 767px) {
    grid-gap: 10px;
    grid-template-rows: repeat(auto-fill, minmax(calc(50vw - 22px), 1fr));
  }

  .category_link {
    height: 290px;

    @media all and (max-width: 767px) {
      height: calc(50vw - 22px);
    }

    .img_wrap {
      position: absolute;
      z-index: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .name_arrow {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 39px;
      background-color: #f26522;
      padding: 10px 20px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      font-family: Montserrat;
      font-weight: 700;
      transition: height 250ms ease-in-out, background-color 250ms ease-in-out;

      span {
        font-size: 16px;
        flex: 0 0 0%;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        transition: flex 250ms ease-in-out, font-size 250ms ease-in-out;

        @media all and (max-width: 767px) {
          font-size: 12px;
        }
      }

      img {
        width: 5px;
        height: 9px;
      }
    }

    &:hover {
      .name_arrow {
        height: 100%;
        transition: height 250ms ease-in-out, background-color 250ms ease-in-out;
        background-color: rgba(14, 41, 74, 0.3);

        span {
          flex: 1 1 100%;
          font-size: 26px;
          transition: flex 250ms ease-in-out, font-size 250ms ease-in-out;

          @media all and (max-width: 767px) {
            font-size: 16px;
          }
        }

        img {
          display: none;
        }
      }
    }
  }
}
// category end

// feedback start

.feed_back_wrap {
  .headings {
    margin-bottom: 60px;

    @media all and (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  .title_h2 {
    margin-bottom: 0;
    text-align: left;

    @media all and (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  .subtitle {
    margin: 10px 0;
    color: #0e294a;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;

    @media all and (max-width: 767px) {
      font-size: 10px;
    }
  }

  .stars {
    grid-gap: 12px;

    img {
      height: 20px;
    }

    p {
      color: #0e294a;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.one_feedback {
  box-shadow: 0 3px 10px rgba(14, 41, 74, 0.2);
  background-color: #fff;
  padding: 40px;
  color: #0e294a;
  font-weight: 700;
  font-family: "Lapsus Pro";

  @media all and (max-width: 767px) {
    padding: 10px 10px 15px;
  }

  .inner_heading {
    margin-bottom: 20px;
    align-items: baseline;
  }

  h3 {
    font-size: 35px;

    @media all and (max-width: 767px) {
      font-size: 26px;
    }
  }

  .date {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;

    @media all and (max-width: 767px) {
      font-size: 10px;
    }
  }

  .feedback {
    font-size: 22px;

    @media all and (max-width: 767px) {
      font-size: 16px;
    }
  }

  & + .one_feedback {
    margin-top: 40px;

    @media all and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}
// feedback end
